.element__button-view {
  margin-top: 5px;
  margin-left: 5px;
  padding: 0;
  border: none;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

.element__button-view:hover {
  opacity: .5;
}